:root{
    --title: 150px;
    --subtitle: 50px;
    --subsection: 45px;
    --semibold: 600;
    --regular: 400;
    --medium: 500;
    --dark: #020403;
    --gray: #ADADAD;
    --white: #ffffff;
    --mtitle: 40px;
    --msubtitle: 25px;
    --msubsection: 18px;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

/*utilidades*/
.center{
    text-align: center;
}
.centerflex{
    align-items: center;
    flex-direction: center;
}

.margin-buttom{
    margin-bottom: 50px;
}

.gray{
    color: gray;
}

.start{
    justify-content: flex-start;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/*------------*/

body{
    font-size: 18px;
    font-weight: var(--regular);
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

header{
    width: 100%;
}

.nav-bg{
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    color: var(--white);
    gap: 80px;
}

header nav ul a{
    text-decoration: inherit;
    color: inherit;
}

/*------------main------------*/

main{
    width: 50%;
    margin: 0 auto;
}

.container-img{
    width: 100%;
    text-align: center;
    margin: 80px 0px 30px;
}

.container-img img{
    width: 200px;
}

.container-title h2{
    text-align: center;
    color: var(--gray);
}

.container-title h1{
    margin: 0;
    text-align: center;
    font-size: var(--subtitle);
    font-weight: var(--regular);
}

.icon-website{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 15px;
}

.about-me{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: var(--gray);
    margin-bottom: 45px;
}

.about-me h2{
    color: var(--white);
    font-weight: var(--regular);

}

/*habilidades*/

.skills{
    display: grid;
    width: 75%;
    margin: auto;
}

.group-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 75px;
}

.skills .icons-bg{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


/*Experiencia*/

.container-exp{
    width: 100%;
}

.container-exp > .first-cont, .second-cont, .third-cont{  
    text-align: center;
    margin: 0;
}

.container-exp h4{  
    margin: 0;
}

.container-exp .data p{ 
    text-align: start;
    width: 100%;
    border-bottom: 1px solid var(--gray);
}
/*Portafolio*/

.portfolio{
    width: 100%;
    margin: 0 auto;
}

.portfolio figure{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.portfolio figure img{
    min-width: 250px;
}

/*Contactos*/

.contacts .all-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts .all-info{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.contacts .icons-contacts svg{
    border: 1px solid var(--white);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.contacts .icons-contacts p{
    font-size: 14px;
}

@media (max-width: 1200px){
    header nav ul{
        gap: 20px;
    }

    .skills{
        width: 100%;
    }
}

@media (max-width: 1000px){
    header nav ul{
        gap: 10px;
    }

    main{
        margin: 0 auto;
        width: 80%;
    }
    .skills{
        width: 100%;
    }
}

@media (max-width: 820px){
    .portfolio figure img{
        min-width: 200px;
    }
}

@media (max-width: 819px){
    .icon-website{
        display: block;
}

@media (max-width: 800px){
    body{
        font-size: 16px;
        width: 80rem;
    }

    nav{
        width: 100%;
    }

    header nav ul{
        gap: 2px;
    }

    main{
        margin: 0 auto;
        width: 90%;
    }

    .skills{
        width: 75%;
    }

}
/*title, semibold
subtitle semibold
subseccion, regular